/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
    height: 100%;
    min-height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */

/* body{
    display: flex;
    flex-direction: column;
} */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.cart, footer{
    font-family: 'Poppins', sans-serif;
}
.cart .cart-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .subtitle{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    padding-bottom: 30px;
    position: relative;
    text-align: center;
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    padding: 15px 0;
    background: #d6920a;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: #d6920a;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.menu-cart{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #d6920a;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    margin-top: auto;
    /* margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-shrink: 0; */
}
footer span a{
    color: #d6920a;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

/* style cart */

.cart .cart-null .noProduct{
    /* background: rgb(240, 240, 240); */
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: 30px;
}

.cart .cart-null .noProduct .small-title{
    font-size: 20px;
    font-weight: 600;
}

.cart .cart-null .noProduct a{
    display: inline-block;
    background: #d6920a;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #d6920a;
    transition: all 0.3s ease;
}

.cart .cart-content .left{
    width: 65%;
    margin: 0 auto 30px;
}
/* .cart .cart-content #carrinho-produtos{
     border: 1px solid #ccc;
} */
.cart .cart-content .products{
    border-bottom: 2px solid #222;
    padding: 0 50px 7px;
    margin: 0px 70px 20px;
}
.cart .cart-content .left .name{
    font-size: 25px;
    float: left;
}
.cart .cart-content .left .price{
    font-size: 20px;
    float: right;
}
.cart .cart-content .left .qty{
    margin-top: 5px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
}
.cart .cart-content .left .qty a{
    margin: 0px 10px;
    font-size: 18px;
    padding: 0px 3px;
    color: blue;
    /* background: rgb(230, 230, 230); */
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.cart .cart-content .left .qty .itemQuantity{
    font-size: 18px;
    width: 25px;
    padding: 0px;
    align-items: center;
    text-align: center;
    /* background-color: #555; */
}
.cart .cart-content .left .qtde{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0px 0px 10px;
    border: rgb(217, 217, 217);
    border-style: solid;
    border-radius: 5px;
    border-width: 1.5px;
}
.cart .cart-content .left .subtotal{
    margin-top: 2px;
    font-size: 18px;
}
.cart .cart-content .left .remove{
    font-size: 18px;
    color: crimson;
}
.cart .cart-content .left .remove:hover{
    cursor: pointer;
}



.cart .cart-content .right{
    width: 35%;
}
.cart .cart-content .right .borderTotal{
    /* border-radius: 6px;
    border: 2px solid #222; */
    padding: 0 20px 18px;
}
.cart .cart-content .right #total{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.cart .cart-content .right a{
    display: inline-block;
    background: #d6920a;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #d6920a;
    transition: all 0.3s ease;
}
.cart .cart-content .right a:hover{
    color: #d6920a;
    background: none;
}


/* responsive media query start */
@media (max-width: 1300px) {
    .home .max-width{
        margin-left: 0px;
    }
}
@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar .menu-cart{
        display: flex;
    }
    .navbar .menu-cart i{
        text-decoration: none;
        color: #fff;
        font-size: 23px;
        cursor: pointer;
    }
    .navbar .menu-cart span{
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        background: #d6471c;
        padding: 0px 6px 0px 5px;
        border-radius: 5px;
        margin: 0px 0px 0px 5px;
        position: relative;
        top: -10px;
        z-index: -1;
        cursor: pointer;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .max-width{
        max-width: 930px;
    }
    .cart .cart-content .products{
        padding: 0 10px 7px;
        margin: 0px 20px 20px;
    }
    
}
@media (max-width: 860px) {
    .cart .cart-content .right .borderTotal{
        padding: 0 5px 18px;
    }
    .cart .cart-content .right #total{
        font-size: 22px;
    }
    .cart .cart-content .right a{
        font-size: 18px;
        padding: 10px 20px;
    }
}
@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .cart .cart-content{
        display: flex;
        flex-direction: column;
    }
    .cart .cart-content .column{
        width: 100%;
    }
    .cart .cart-content .left{
        display: flex;
        flex-direction: column;
        margin: 0 auto 60px;
    }
    .cart .cart-content .right{
        flex: 100%;
    }
    /*reajustando total para tamanho padrão*/
    .cart .cart-content .right .borderTotal{
        padding: 0 20px 18px;
        border: none;
    }
    .cart .cart-content .right #total{
        font-size: 25px;
    }
    .cart .cart-content .right a{
        font-size: 20px;
        padding: 10px 30px;
    }
}

@media (max-width: 500px) {
    .cart .cart-content .right .text{
        font-size: 19px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
    .cart .cart-content .products{
        padding: 0 10px 7px;
        margin: 0px 0px 20px;
    }
}
@media (max-width: 400px){
    .max-width{
        padding: 0 10px;
    }
    .cart .cart-content .left .name{
        font-size: 22px;
        float: left;
    }
}
@media (max-width: 360px) {
    .cart .cart-content .left img{
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 305px) {
    .cart .cart-content .left img{
        height: 250px;
        width: 250px;
    }
    .cart .cart-content .right a{
        font-size: 20px;
        padding: 10px 20px;
    }
}
/* Estilo do modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

.modal-content input[type="radio"] {
    margin-right: 10px;
}

.modal-content input[type="text"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content button {
    background-color: #d6920a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #e64a19;
}
/* Estilo comum para o botão do WhatsApp e o botão de fazer pedido */
.button-whatsapp,
.fazer-pedido-btn {
    background-color: #25d366; /* Cor de fundo do botão */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: inline-flex;
    align-items: center;
    text-decoration: none; /* Remove o sublinhado para links */
    transition: background-color 0.3s, color 0.3s; /* Adiciona transição suave para cor */
}

.button-whatsapp:hover,
.fazer-pedido-btn:hover {
    background-color: #d6920a ; /* Cor de hover do botão */
}

/* Estilo específico para o conteúdo do botão do WhatsApp */
#buttonWhatsapp a {
    color: white;
    display: inline-flex;
    align-items: center;
    text-decoration: none; /* Remove o sublinhado para links */
}

/* Estilo específico para o botão de Fechar Pedido */
#fazerPedidoBtn {
    background-color: #d6920a; /* Cor do botão de fazer pedido */
    color: white; /* Cor do texto do botão de fazer pedido */
}

/* Estilo do botão quando está sendo clicado */
.fazer-pedido-btn:active {
    background-color: #ffffff; /* Cor de fundo do botão quando clicado */
    color: #d6920a; /* Cor do texto do botão quando clicado */
    border: 1px solid #d6920a; /* Borda do botão quando clicado */
}

/* Remove o contorno padrão ao focar no botão */
.fazer-pedido-btn:focus {
    outline: none; /* Remove o contorno padrão ao focar no botão */
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra ao redor do botão ao ser clicado */
}

/* Adiciona um efeito de transição suave */
.fazer-pedido-btn {
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}
#orderSummary {
    white-space: pre-wrap; /* Mantém quebras de linha e espaços como são */
    font-family: Arial, sans-serif; /* Fonte legível */
    font-size: 14px; /* Tamanho da fonte */
}
/* Estiliza o container do campo de forma de pagamento */
#paymentMethod {
    margin-top: 15px;
}

/* Estiliza o rótulo do campo */
#paymentMethod label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Estiliza o campo de seleção */
#paymentSelect {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

